.bloop/
.bsp/
.metals/
dumps/
target/
bowtie-report.html
.env

project/project
project/metals.sbt
*.hprof

/*.json
/*.jsonl

node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
npm-debug.log

# Fuzz testing resources
jazzer
jazzer_standalone.jar
crash-*
Crash*.java
fuzz/test/resources/*
!fuzz/test/resources/json.dict

# Bowtie
bowtie/

*.tar.gz
