.bloop/
.bsp/
.metals/
dumps/
target/
bowtie-report.html
.env

project/project
project/metals.sbt

node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
