name: Update Dependency Graph

on:
  push:
    branches:
      - main

jobs:
  update-graph:
    name: Update Dependency Graph
    runs-on: blacksmith-2vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: coursier/setup-action@v2
        with:
          jvm: zulu:11.0.10
          apps: sbt scala
      - uses: scalacenter/sbt-dependency-submission@v3
