name: Publish site

on:
  workflow_run:
    workflows: [CI]
    types: [completed]

jobs:
  publish-site:
    runs-on: blacksmith-2vcpu-ubuntu-2204
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'main' }}
    steps:
    - uses: actions/checkout@v4
    - name: Coursier cache
      uses: coursier/cache-action@v6
    - uses: coursier/setup-action@v1
      with:
        jvm: zulu:17.0.10
        apps: sbt scala
    - name: Publish site
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_PAGES_PUBLISH_FORCE_PUSH: true
      run: |
          sbt makeSite
          sbt generateSchemas
          cp target/jsonoid-schemas/*.json target/site/schemas
          sbt publishToGitHubPages
