on: push
name: TOC Generator
jobs:
  generateTOC:
    name: TOC Generator
    runs-on: blacksmith-2vcpu-ubuntu-2204
    steps:
      - uses: technote-space/toc-generator@v4
        with:
          FOLDING: true
